
.Darck{
    background-color: rgb(39, 34, 34);
    width: 100%;
    height: 100vh;

}

.Darck-color{
    color: rgb(0, 0, 0);
}

.Ligth-color{
    color: blue;
}
.Ligth{
    background-color: rgb(245, 234, 234);
    width: 100%;
    height: 100vh;
}

