
.sliderC-container{
    /* border: solid rgb(219, 29, 29); */
    /* background-color: rgb(178, 31, 31); */
    margin: 0 ;
    margin-top: 50px;
    /* width: 1500px;
    height: 900px; */
    /* overflow-x: hidden; */
}
.slider2{
    display: flex;
 
    cursor:grab;
}

/* .item{
border: solid blue;
 margin: 10px;
} */



.item img{
    width: 1000px;
    height: 400px;
    pointer-events: none;
    padding: 0px 0px 0px 20px;
    /* border: 2px solid rgb(245, 248, 245);  */
}