@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&family=Orbitron:wght@600&display=swap');



body{
  /* background-color: rgb(232, 239, 237); */
  font-family: 'Manrope', sans-serif;
  background: linear-gradient(134deg,#033c70,#042f70 46%,#260c5e);
}
.card_contenedor{
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  width: 50%;
  margin: auto;
  margin-top: 100px;
}
.card_img{
  width: 200px;
  height: 200px;
  
  margin:auto;


}
.card_info{
 display: flex;
  align-items: center;
  margin: 10px;
  width: 200px;
  height: 100px;
  font-weight: bold;
}
/* .card_buton{
  display: flex;
  justify-content: center; 
 align-items: center;
  margin: 10px;
  border: solid 1px black;
  width: 200px;
  height: 40px;
  background-color: #a4b6bc;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  /* align-items: center;
  margin: 10px;
  width: 200px;
  height: 50px;
  background-color: #00bfff;
  border-radius: 10px;
  border: none;
  cursor: pointer; */
/* } */ 

button{
   border: solid 1px black;
  width: 200px;
  height: 40px;
  background-color: #afea58;
  border-radius: 10px;
  margin-top: 10px;
  display: flex ;
  justify-content: center;
  margin-left: 10px;
}
button:hover{
  background-color: rgb(134, 209, 101);
  color: white;
  transition: 0.5s;
} 

@keyframes scroll {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(calc(-400px * 5 - 0.5rem * 10));
  }
}

.animate-scroll {
  animation: scroll 10s linear infinite;
}

@media (400px <= width <= 800px) {
  .headersm{
    color: black;
    font-weight: bold;
    font-size: 30px;
    background-color: green;
    gap: 50px

  }
  .heradersm:hover{
    font-size: 40px;
    font-weight: lighter;
  }

}